.heading-1 {
  color: #fff;
  font-weight: lighter;
  letter-spacing: .5rem;
  font-size: 3.6rem; }

.heading-2 {
  color: #fff;
  font-weight: lighter;
  letter-spacing: .5rem;
  font-size: 3rem; }

@font-face {
  font-family: "CustomFont";
  src: url(../../Arvo/Arvo-Bold.ttf);
  src: url(../../Arvo/Arvo-BoldItalic.ttf);
  src: url(../../Arvo/Arvo-Italic.ttf);
  src: url(../../Arvo/Arvo-Regular.ttf); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "CustomFont", sans-serif;
  font-size: 1.6rem; }

.container {
  background-image: url(../../img/hero.png);
  background-position: center;
  background-size: cover;
  height: 85vh; }

.margin-bot-sm {
  margin-bottom: 1.5rem; }

.margin-top-sm {
  margin-top: 1.5rem; }

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_logo {
  width: 75%;
  height: 75%; }

.header_items {
  display: flex;
  padding-right: 5rem; }

.header_nav {
  display: flex;
  gap: 1rem;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .header_nav {
      background-color: #d94d39;
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      position: fixed;
      gap: 0rem; } }
  .header_nav-link:link, .header_nav-link:visited {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    padding: 1rem;
    border: 1px solid transparent; }
    @media only screen and (max-width: 75em) {
      .header_nav-link:link, .header_nav-link:visited {
        border: 1px solid white;
        width: 100%;
        text-align: center; } }
  .header_nav-link:hover, .header_nav-link:active {
    color: #d94d39;
    transform: translateY(-1px);
    border: 1px solid #fff; }
    @media only screen and (max-width: 75em) {
      .header_nav-link:hover, .header_nav-link:active {
        transform: translateY(0); } }
  .header_nav-line {
    transform: rotateX(180deg);
    color: #fff;
    font-size: 3rem; }

.header_dropdown {
  position: relative;
  display: inline-block;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .header_dropdown {
      margin-bottom: 1rem;
      width: 100%;
      text-align: center; } }
  .header_dropdown-b {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    padding: 1rem;
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .header_dropdown-b {
        border: 1px solid white;
        width: 100%;
        text-align: center; } }
  .header_dropdown-content {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
    position: absolute;
    width: max-content;
    transition: all .2s; }
    @media only screen and (max-width: 75em) {
      .header_dropdown-content {
        position: relative;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #777; } }
    .header_dropdown-content a:link,
    .header_dropdown-content a:visited {
      padding: 1.2rem 1.4rem;
      color: #afafaf;
      font-weight: 500;
      font-size: 1.4rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s;
      display: block; }
      @media only screen and (max-width: 75em) {
        .header_dropdown-content a:link,
        .header_dropdown-content a:visited {
          border-bottom: 1px solid #999; } }
    .header_dropdown-content a:hover,
    .header_dropdown-content a:active {
      color: #d94d39;
      background-color: #e9e9e9; }
      @media only screen and (max-width: 75em) {
        .header_dropdown-content a:hover,
        .header_dropdown-content a:active {
          border-bottom: 1px solid #777; } }
  .header_dropdown:hover .header_dropdown-content {
    display: block;
    z-index: 1; }

.white:link,
.white:visited {
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  padding: 1rem;
  border: 1px solid transparent; }

.white:hover,
.white:active {
  color: #d94d39;
  transform: translateY(-1px);
  border: 1px solid #fff; }

.menu_link:link,
.menu_link:visited {
  display: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  padding: 1rem;
  border: 1px solid transparent; }
  .menu_link:link:hover, .menu_link:link:active,
  .menu_link:visited:hover,
  .menu_link:visited:active {
    color: #d94d39;
    transform: translateY(-1px);
    border: 1px solid #fff; }
  @media only screen and (max-width: 75em) {
    .menu_link:link,
    .menu_link:visited {
      display: block; } }

.menu_link:focus + .menu_close,
.menu_link:focus ~ .menu {
  display: block; }

@media only screen and (max-width: 75em) {
  .menu {
    display: none; } }

.menu_close {
  display: none; }
  @media only screen and (max-width: 75em) {
    .menu_close {
      color: #fff;
      position: absolute;
      top: 10%;
      left: 23%;
      font-size: 5rem;
      z-index: 1001;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none; } }

.section-hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 59.38em) {
    .section-hero_nav {
      display: none; } }
  .section-hero_nav-btn {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 3rem;
    transition: all .3s; }
    .section-hero_nav-btn:hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .section-hero_nav-btn--1 {
      position: absolute;
      top: 50%;
      left: 3rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .section-hero_nav-btn--2 {
      position: absolute;
      top: 90%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .section-hero_nav-btn--3 {
      position: absolute;
      right: 3rem;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .section-hero .hero {
    grid-row: 2/3; }
    .section-hero .hero_line {
      width: 12.8rem;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      text-align: center; }

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .features .feature {
    width: 100%;
    height: 47.3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .features .feature--1 {
      background-image: url(../../img/feature1.png);
      background-size: cover;
      align-items: stretch;
      background-position: bottom; }
    .features .feature--2 {
      background-image: url(../../img/feature2.png);
      background-size: cover;
      align-items: stretch; }
    .features .feature--3 {
      background-image: url(../../img/feature3.png);
      background-size: cover;
      align-items: stretch; }
    .features .feature_text {
      grid-column: 2/4;
      grid-row: 2/4;
      background-color: rgba(255, 255, 255, 0.95);
      background-size: cover;
      display: flex;
      justify-content: center;
      padding: 0 2rem;
      letter-spacing: 0.3rem;
      width: 100%;
      height: auto;
      text-align: center; }
      .features .feature_text--2 {
        background-color: #d94d39;
        color: #fff; }
      .features .feature_text h3 {
        font-size: 2rem;
        align-self: center;
        justify-content: center; }

.description {
  background-color: #fff;
  padding: 10rem 0; }
  .description_content {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
  .description_logo {
    width: 8rem;
    height: 100%;
    margin-bottom: 1.5rem; }
  .description_title {
    color: #d94d39;
    font-weight: lighter;
    font-size: 3.6rem;
    margin-bottom: 3rem; }
  .description_text {
    padding: 0 15rem;
    color: #656565;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .description_text span {
      color: #03418e; }
  .description_list {
    list-style: none;
    color: #656565;
    text-transform: uppercase;
    margin-bottom: 4rem; }
  .description_li {
    margin-bottom: 0.3rem; }
  .description_btn {
    background-color: #fff;
    border: 2px solid #d94d39;
    padding: 2rem 10rem;
    font-size: 2.2rem;
    font-family: "CustomFont", sans-serif;
    color: #d94d39;
    cursor: pointer;
    transition: all .3s; }
    .description_btn:hover {
      background-color: #d94d39;
      color: #fff; }

.reservation {
  padding: 10rem 0;
  background-color: #d94d39; }
  .reservation_content {
    max-width: 65%;
    margin: 0 auto; }
    @media only screen and (max-width: 89.38em) {
      .reservation_content {
        max-width: 80%; } }
  .reservation_title {
    color: #fff;
    font-weight: lighter;
    font-size: 3.6rem;
    letter-spacing: .5rem;
    margin-bottom: 1.5rem;
    text-align: center; }
  .reservation_text {
    color: #fff;
    font-weight: lighter;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center; }
  .reservation_form {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 3rem; }
  .reservation_label {
    color: #fff;
    font-size: 1.6rem; }
  .reservation_name {
    border-bottom: 1px solid #fff;
    grid-column: 1/3; }
    .reservation_name input {
      width: 50%;
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-family: 'CustomFont', sans-serif;
      color: #fff;
      border-top: 2px solid transparent;
      padding: 0 1.5rem;
      transition: all .3s; }
      .reservation_name input::placeholder {
        color: #efefef; }
      .reservation_name input:focus {
        outline: none;
        border-top: 2px solid #fff;
        padding: .5rem 1.5rem 0rem 0; }
  .reservation_email {
    border-bottom: 1px solid #fff;
    grid-column: 3/5; }
    .reservation_email input {
      width: 80%;
      border: none;
      background-color: transparent;
      font-size: 1.6rem;
      font-family: 'CustomFont', sans-serif;
      color: #fff;
      border: 2px solid transparent;
      padding: 0 1.5rem;
      transition: all .3s; }
      .reservation_email input::placeholder {
        color: #efefef; }
      .reservation_email input:focus {
        outline: none;
        border-top: 2px solid #fff;
        padding: .5rem 1.5rem 0rem 0;
        color: #fff; }
      .reservation_email input:focus:invalid {
        color: black; }
  .reservation_date {
    position: relative;
    border-bottom: 1px solid white;
    padding-top: .5rem; }
    .reservation_date-input {
      width: 7.5rem;
      background-color: transparent;
      border: none; }
      .reservation_date-input::placeholder {
        color: white;
        font-size: 1.4rem; }
      .reservation_date-input:focus + .calendar {
        display: block;
        z-index: 1000; }
  .reservation_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white; }
    .reservation_select-btn {
      display: inline-block;
      padding: 0.2rem 0.4rem;
      background-color: transparent;
      border: none; }
      .reservation_select-btn .selecticon {
        color: white;
        font-size: 1.6rem; }
      .reservation_select-btn:focus + .reservation_number {
        display: block; }
  .reservation_number {
    position: absolute;
    display: none;
    bottom: 0%;
    left: 84%;
    padding: 1rem 1rem 0 1rem;
    background-color: #f7f7f7;
    text-align: center; }
    .reservation_number-div:not(:last-child) {
      padding-bottom: 1rem; }
    .reservation_number-nr {
      color: #a0a0a0;
      border-bottom: 1px solid #ddd; }
      .reservation_number-nr:hover {
        cursor: pointer;
        color: #d94d39;
        border-bottom: 1px solid #d94d39; }
  .reservation_area {
    grid-column: 3/7;
    border-bottom: 1px solid white; }
    .reservation_area-text {
      width: 50%;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      transition: all .2s; }
      .reservation_area-text::placeholder {
        color: white;
        font-family: 'CustomFont', sans-serif;
        font-weight: lighter; }
  .reservation_button {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #fff;
    color: #d94d39;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all .3s; }
    .reservation_button:hover {
      background-color: transparent;
      border: 3px solid #fff;
      color: #fff;
      transform: translateY(-1rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    .reservation_button:active {
      background-color: transparent;
      transform: translateY(-0.5rem);
      box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2); }

.section-cta {
  background-image: url(../../img/cta.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 0 25rem 0; }

.cta {
  max-width: 57%;
  margin: 0 auto; }
  .cta_heading {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: .5rem;
    margin-bottom: 1rem; }
  .cta_text {
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 7rem; }
  .cta_form {
    display: flex;
    align-items: center;
    gap: 3rem; }
  .cta_email {
    font-size: 2rem;
    width: 65%;
    padding: 1rem 3rem;
    transition: all .2s; }
    .cta_email:focus:invalid {
      color: #d94d39;
      cursor: black; }
    .cta_email:focus {
      color: black; }
  .cta_button {
    width: 35%;
    font-size: 1.6rem;
    padding: 1.3rem 3rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: all .1s; }
    .cta_button:hover {
      background-color: #fff;
      color: black;
      transform: translateY(-1rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
    .cta_button:active {
      background-color: #d94d39;
      color: #fff;
      transform: translateY(0);
      border: 2px solid #d94d39;
      box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.4); }

.section-footer {
  background-color: white;
  padding: 10rem;
  text-align: center; }

.footer {
  max-width: 70%;
  margin: 0 auto; }
  @media only screen and (max-width: 89.38em) {
    .footer {
      max-width: 70%; } }
  .footer_header {
    color: #d94d39;
    font-weight: lighter;
    margin-bottom: 1rem;
    letter-spacing: .3rem; }
  .footer_rating {
    text-align: center;
    margin-bottom: 2rem; }
    .footer_rating ion-icon {
      color: #d94d39;
      stroke: #d94d39;
      font-size: 2rem;
      transition: all .2s; }
      .footer_rating ion-icon:hover {
        transform: scale(1.3); }
  .footer_info {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center; }
    @media only screen and (max-width: 89.38em) {
      .footer_info {
        font-size: 1.2rem; } }
    .footer_info-text {
      color: #888; }
      .footer_info-text--number:hover {
        color: #d94d39;
        cursor: pointer; }
      .footer_info-text--email:hover {
        color: #d94d39;
        cursor: pointer; }
  .footer_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem; }
  .footer_link {
    color: #888;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all .2s; }
    .footer_link:hover {
      color: #d94d39;
      transform: translateY(-3px); }
  .footer_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem; }
  .footer_logo {
    font-size: 2.2rem;
    color: #888;
    text-decoration: none;
    transition: all .2s; }
    .footer_logo--facebook:hover {
      color: #4267B2;
      transform: scale(1.3); }
    .footer_logo--twitter:hover {
      color: #00acee;
      transform: scale(1.3); }
    .footer_logo--youtube:hover {
      color: #FF0000;
      transform: scale(1.3); }
    .footer_logo--pinterest:hover {
      color: #c8232c;
      transform: scale(1.3); }
    .footer_logo--google:hover {
      color: #db4a39;
      transform: scale(1.3); }

.copyright {
  color: #888;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .copyright {
      font-size: 1rem; } }

.red-line {
  text-align: center;
  height: 2px;
  width: 13%;
  margin: 0 auto;
  background-color: #d94d39;
  margin-bottom: 2rem; }

.calendar {
  width: 21rem;
  height: max-content;
  margin: 0;
  position: absolute;
  top: -19rem;
  left: 0;
  display: none;
  z-index: 20; }
  .calendar_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .calendar_icon {
    color: #aaaaaa;
    cursor: pointer; }
    .calendar_icon:hover {
      color: #d94d39; }
  .calendar_header {
    color: #d94d39;
    font-weight: lighter;
    font-size: 2rem; }
  .calendar_day {
    font-size: 1rem;
    justify-self: center; }

.calendar_dates {
  display: grid;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(7, 14.3%);
  justify-items: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: white; }

.calendar_date {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  text-align: center; }
  .calendar_date:hover {
    background-color: #d94d39; }
