$color-primary : #d94d39;
$color-secondary: #3f3f3f;
$color-white : #fff;

//breakpoints
$bp-large : 89.38em; // 1430px
$bp-big : 75em; // 1200px
$bp-less : 62.5em; // 1000px
$bp-small : 58em; // 930px
$bp-mob : 37.5em; // 600px 
$bp-mobsm: 32.5em; // 520px