$color-primary : #d94d39;
$color-secondary: #3f3f3f;
$color-white : #fff;

//breakpoints
$bp-large : 89.38em; // 1430px
$bp-big : 75em; // 1200px
$bp-less : 62.5em; // 1000px
$bp-small : 59.38em; // 950px
$mp-normal : 75.1em;