.calendar {
    width: 21rem;
    height: max-content;
    margin: 0;
    position: absolute;
    top: -19rem;
    left: 0;
    display: none;
    z-index: 20;

    &_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f7f7f7;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &_icon {
        color: #aaaaaa;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }

    &_header {
        color: $color-primary;
        font-weight: lighter;
        font-size: 2rem;

    }

    &_day {
        font-size: 1rem;
        justify-self: center;

    }

}

.calendar_dates {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-template-rows: repeat(7, 14.3%);
    justify-items: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: white;
}

.calendar_date {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    text-align: center;


    &:hover {
        background-color: $color-primary;
    }
}