@font-face {
    font-family: "CustomFont";
    src: url(../../Arvo/Arvo-Bold.ttf);
    src: url(../../Arvo/Arvo-BoldItalic.ttf);
    src: url(../../Arvo/Arvo-Italic.ttf);
    src: url(../../Arvo/Arvo-Regular.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-big) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 45%;
    }

    @media only screen and (max-width: $bp-mob) {
        font-size: 40%;
    }

    @media only screen and (max-width: $bp-mobsm) {
        font-size: 30%;
    }
}

body {
    font-family: "CustomFont", sans-serif;
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-big) {
        position: relative;
    }
}

.container {
    background-image: url(../../img/hero.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}